# Ignore node_modules folder
node_modules/

# Ignore dist folder (where builds usually go)
dist/

# Ignore log files
npm-debug.log*
# Ignore temporary files
.DS_Store

# Ignore lock files
package-lock.json
